.container {
  margin-top: 20px;
}

div {
  margin-bottom: 10px;
}

.header {
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  text-transform: capitalize;
}

label {
  padding-left: 10px;
  user-select: none;
  text-transform: capitalize;
}

input[type='checkbox'] {
  margin-left: 10px;
}

.card {
  height: 100%;

  .card-header {
    overflow: hidden;
    padding: 14px;

    img {
      width: 100%;
      max-width: 100%;
      height: 200px;
      max-height: 200px;
      border-radius: 5px;
    }
  }
}
